/* >---------Variables-> */
:root{
    --color-primario: #0d6efd;
    --color-secundario: #0d5ed7;
    --color-oscuro: #122936;
}

/* >---------Generales-> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn{
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

h1.title{
    margin: 30px 0;
    text-align: center;
    font-weight: 100;
    font-size: 55px;
    letter-spacing: 2px;
}

.btn:hover{
    transform: scale(1.1);
    background-color: var(--color-secundario);
}

/* >---------Menu principal-> */
.menu-principal{
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.menu-principal div{
    float: left;
}

.nav-imagen{
    height: 100%;
}

.nav-imagen img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-enlaces a{
    margin: 0 20px;
    padding: 4px 10px;
    color: #000;
    line-height: 50px;
    border: 2px solid transparent;
    transition: all .5s;
}

.nav-enlaces a.active{
    color: var(--color-primario);
}

.nav-enlaces a:hover{
    border: 2px solid var(--color-primario);
}

/* >---------Header-> */
header{
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background: url(/img/wallpaper2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}

header div{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header h1{
    margin: 20px 0;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow:
    5px 0 10px #000;
}

header button{
    width: 180px;
    height: 50px;
}

/* >---------Productos-> */
.productos{
    padding: 30px 100px;
}

.card{
    width: 33%;
    height: 420px;
    margin: 1px;
    position: relative;
    background-color: var(--color-oscuro);
    overflow: hidden;
    float: left;
    border: none;
}

.card::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    background-color: var(--color-primario);
    transform: skewY(345deg);
    transition: all .5s;
}

.card:hover::before{
    top: -70%;
    transform: skewY(380deg);
}

.card::after{
    content: "Technology";
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.05);
    font-weight: 600;
    font-size: 8em;
}

.card .img-card{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .img-card img{
    max-width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.card:hover .img-card img{
    max-width: 50%;
}

.content-card{
    width: 100%;
    position: absolute;
    bottom: 12%;
    text-align: center;
    z-index: 10;
}

.content-card h3{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-card .price{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-card .buy{
    margin-top: 15px;
    padding: 10px 30px;
    position: relative;
    top: 200px;
    opacity: 0;
}

.card:hover .content-card .buy{
    top: 20px;
    opacity: 1;
}

/* >---------Separador-> */
.mensaje{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
    background: url(/img/section.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.mensaje::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.mensaje p{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-shadow:
    5px 0 10px #000;
}

/* >---------Destacado-> */
.favorito{
    height: 100vh;
    padding: 20px 150px;
    position: relative;
}

.favorito::before{
    content: "Technology";
    position: absolute;
    bottom: 2%;
    left: 0;
    font-weight: 600;
    font-size: 10vw;
    color: rgba(0, 0, 0, 0.1);
    z-index: -10;
}

.favorito::after{
    content: "Best";
    position: absolute;
    top: 2%;
    right: 0;
    font-weight: 600;
    font-size: 10vw;
    color: rgba(0, 0, 0, 0.05);
    z-index: -10;
}

.container-favorito > div{
    float: left;
    margin: 30px;
}

.container-favorito:hover .imagen-fav img{
    transform: scale(1.1);
}

.imagen-fav{
    width: 40%;
    position: relative;
}

.imagen-fav::before{
    content: "Best Choice";
    width: 50px;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 3%;
    left: 10%;
    background-color: var(--color-secundario);
    color: #fff;
    border-radius: 50%;
    box-shadow:
    0 0 10px 5px var(--color-secundario);
    text-align: center;
    transform: rotate(-10deg);
    z-index: 10;
    transition: all .5s;
}

.imagen-fav:hover::before{
    transform: scale(1.2) rotate(-10deg);
}

.imagen-fav img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.content-fav{
    width: 30%;
    height: 100%;
}

.content-fav h1{
    font-size: 40px;
    font-weight: 400;
}

.content-fav h3{
    color: var(--color-secundario);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-fav .text p{
    margin: 20px 0;
    text-align: justify;
}

.content-inferior{
    width: 100%;
    height: 50px;
}

.content-inferior .price{
    float: left;
    color: var(--color-oscuro);
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.content-inferior .buy{
    width: 150px;
    float: right;
    text-align: center;
    line-height: 50px;
}